.slider .slide-item {
  display: none;
}

.slider .slide-item.active {
  display: block;
}

.navigation {
  display: flex;
  gap: 1rem;
}

.navigation button {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.dots {
  display: flex;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
  margin: 0 5px;
}

.dot.active {
  background-color: #333;
}
