@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Roboto+Mono:wght@500&display=swap");

body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

b {
  user-select: none;
  color: #ddd;
}

.form-login {
  min-height: 657px;
}

label {
  margin-left: 10px;
  margin-bottom: 0px;
}

.container {
  max-width: 380px;
  min-height: 60%;
  padding: 15px;
  background: radial-gradient(circle at center, #ff8782, #ff6561);
  opacity: 0.8;
  border-radius: 35px;
  position: relative;
  top: 50%;
  left: 37%;
  margin-top: 50px;
}

.container h1 {
  text-align: center;
  color: #eee;
  user-select: none;
  font-family: "Kanit", sans-serif;
  margin: 10px 0 10px 0;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background-color: #f1f1f1;
  border-radius: 6px;
}

input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.btn,
.search {
  left: 12px;
  color: black;
  font-weight: 900;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 47%;
  margin: 0 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  left: 24%;
  text-align: center;
  text-decoration: none;
}

.btn:hover,
.search:hover {
  background-color: whitesmoke;
  transition: 0.3s;
}

.text_under_button {
  color: #ddd;
  margin-top: 70px;
  margin-bottom: 10px;
  text-align: center;
  user-select: none;
  display: block;
}

.login,
.search {
  float: left;
}

.regist_link:focus {
  color: rgb(14, 0, 120);
}
